{# Fazemos a importação da view base. #}
{% extends "base.html" %}

{# Temos o bloco de conteúdo da página. #}
{% block content %}
    {# Este script lida com requisições a provedores de OpenId que incluem
    o nome de usuário do usuário. Ele irá fazer a solicitação dessa informação,
    quando necessário. #}
    <script type="text/javascript">
        function set_openid(openid, pr)
        {
            u = openid.search('<username>');
            if (u != -1)
            {
                // OpenId precisa de um 'username'
                user = prompt('Enter your ' + pr + ' username':);
                openid = openid.substr(0, u) + user;
            }
            form = document.forms['login'];
            form.elements['openid'].value = openid;
        }
    </script>
    <h1>Sign In</h1>
    {# Iniciamos aqui o formulário de Login. #}
    <form action="" method="post" name="login">
        {# Esse argumento será substituído por um campo oculto que implementa
        a proteção CSRF que habilitamos em nosso arquivo de configuração. #}
        {{ form.hidden_tag() }}
        <p>
            {# O campo recebe o valor referente ao OpenId do usuário. #}
            Please, enter your OpenId, or select one of the providers below:<br />
            {{ form.openid(size=80) }}
            {# Exibe erro, caso exista. #}
            {% for error in form.openid.errors %}
                <span style="color: red;">
                    [{{ error }}]
                </span>
            {% endfor %}<br />
            {# Estrutura de controle que exibe todos os provedores de OpenId
            definidos no arquivo de configuração. #}
            {% for pr in providers %}
                {# Lista os provedores de OpenId e suas urls. #}
                | <a href="javascript:set_openid('{{ pr.url }}','{{ pr.name }}');">{{ pr.name }}</a> |
            {% endfor %}
        </p>
        <p>
            {# Checkbox para definir se o login do usuário ficará
            armazenado. #}
            {{ form.remember_me }} Remember Me
        </p>
        <p>
            <input type="submit" value="Sign In" />
        </p>
    </form>
{% endblock %}
